body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 90px;
    letter-spacing: 50px;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 300px;
    height: 300px;
    text-align: center;
}


.ruins { 
    background-color: white;
    color:black;
    margin-left: 10%;
    margin-right: 10%;
}

.sand {
background-color: blue;
color: azure;
    margin-left: 10%;
    margin-right: 10%;
  text-align: left;
    display: block;
    margin-left: 10%;
    transition: all 0.5s ease;
}

h1{
text-align: left;
padding: 3%;
color: black;
font-family: 'Courier New', Courier, monospace;
font-size: 180px;
transition: all 0.5s ease;
position: relative;
letter-spacing: 50px;
margin: 10px;
}

h1.scrolled {
position: fixed;
top: 0;
left: 0;
font-size: 50px;
padding: 15px;
text-align: left;
width: auto;
background-color: rgba(255, 255, 255, 0.9);
z-index: 1000;
color: #e41918;
}


span.scrolled {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 30%;
    height: 40%;
    margin: 0;
    z-index: 999;
}

.p1 {
  text-align: left;
  font-size: 20px;
  margin-right: 40%;
  letter-spacing: 0px;
}

.p2 {
  text-align: left;
  font-size: 20px;
  margin-left: 40%;
  letter-spacing: 0px;
}
.garden {
    background-color: green;
    color: azure;
    margin-left: 10%;
    margin-right: 10%;
}

.ruins:before {
    color:red;
    position: absolute;
    overflow: hidden;
    transition: 0,9 ease;
}

/*hover effects*/

a.sandcolor:link,
a.sandcolor:visited {
  color: inherit; /* normal color */
}
a.sandcolor:hover,
a.sandcolor:focus,
a.sandcolor:active {
  color: blue; 
  transition: color .15s ease;
}

a.ruinscolor:link,
a.ruinscolor:visited {
  color: inherit;
}
a.ruinscolor:hover,
a.ruinscolor:focus,
a.ruinscolor:active {
  color: red; 
  transition: color .15s ease;
}

a.gardencolor:link,
a.gardencolor:visited {
  color: inherit;
}
a.gardencolor:hover,
a.gardencolor:focus,
a.gardencolor:active {
  color: green; 
  transition: color .15s ease;
}
/*change in pages*/

.changered,
.changered:link,
.changered:visited,
.changered:hover,
.changered:active {
  color: red;
}

.changeblue,
.changeblue:link,
.changeblue:visited,
.changeblue:hover,
.changeblue:active {
  color: blue;
}

.changegreen,
.changegreen:link,
.changegreen:visited,
.changegreen:hover,
.changegreen:active {
  color: green;
}



a:link, a:visited, a:hover, a:active {text-decoration: none;}
a:visited {color: transparent;}

