body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

p {
    font-size: 100px;
    letter-spacing: 50px;
    text-align: center;
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px;
    text-align: center;
}


.ruins { 
    background-color: red;
}

.sand {
background-color: blue;
}

.garden {
    background-color: green;
}
a:link, a:visited, a:hover, a:active {text-decoration: none;}
a:visited {color: transparent;}
