body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

p {
    font-size: 100px;
    letter-spacing: 50px;
    text-align: left;
    margin-right: 300px;
}

img {
    width: 300px;
    height: 300px;
}

.text {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

