body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

p {
    font-size: 90px;
    letter-spacing: 50px;
    text-align: center;
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px;
    text-align: center;
}


.ruins { 
    background-color: red;
    color: azure;
    margin-left: 7%;
    margin-right: 7%;
}

.sand {
background-color: blue;
color: azure;
    margin-left: 7%;
    margin-right: 7%;

}

h1{
text-align: center;
background-color: azure;
padding: 5%;
color: black;
}

.p1 {
    text-align: left;
    font-size: 20px;
  

}

.p2 {
     text-align: left;
    font-size: 20px;
}
.garden {
    background-color: green;
    color: azure;
    margin-left: 7%;
    margin-right: 7%;
}

.ruins:before {
    color:red;
    position: absolute;
    overflow: hidden;
    transition: 0,9 ease;
}

/*hover effects*/

a.sandcolor:link,
a.sandcolor:visited {
  color: inherit; /* normal color */
}
a.sandcolor:hover,
a.sandcolor:focus,
a.sandcolor:active {
  color: blue; 
  transition: color .15s ease;
}

a.ruinscolor:link,
a.ruinscolor:visited {
  color: inherit;
}
a.ruinscolor:hover,
a.ruinscolor:focus,
a.ruinscolor:active {
  color: red; 
  transition: color .15s ease;
}

a.gardencolor:link,
a.gardencolor:visited {
  color: inherit;
}
a.gardencolor:hover,
a.gardencolor:focus,
a.gardencolor:active {
  color: green; 
  transition: color .15s ease;
}
/*change in pages*/

.changered,
.changered:link,
.changered:visited,
.changered:hover,
.changered:active {
  color: red;
}

.changeblue,
.changeblue:link,
.changeblue:visited,
.changeblue:hover,
.changeblue:active {
  color: blue;
}

.changegreen,
.changegreen:link,
.changegreen:visited,
.changegreen:hover,
.changegreen:active {
  color: green;
}



a:link, a:visited, a:hover, a:active {text-decoration: none;}
a:visited {color: transparent;}

