body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 90px;
    letter-spacing: 50px;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 300px;
    height: 300px;
    text-align: center;
}


.ruins { 
    background-color: white;
    color:black;
    margin-left: 10%;
    margin-right: 10%;
}

.sand {
background-color: white;
color: black;
    margin-left: 10%;
    margin-right: 10%;
  text-align: left;
    display: block;
    margin-left: 10%;
    transition: all 0.5s ease;
}

h1{
text-align: left;
padding: 3%;
color: black;
font-family: 'Courier New', Courier, monospace;
font-size: 100px;
transition: all 0.5s ease;
position: relative;
letter-spacing: 50px;
margin: 10px;
color: black;
}

h1.scrolled {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  padding: 15px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 12px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}


h1.scrolled br { display: none; }






.tittlesand {
    text-align: left;
    padding: 3%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    transition: all 0.5s ease;
    position: relative;
    letter-spacing: 50px;
    margin: 10px;
}
span {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-left: 800px;
    vertical-align: middle;
    z-index: 500;
    transition: all 0.5s ease;
}

span.scrolled {
    display: none;
}

.ruinsred {
    color: red;
}

.bluesand {
    color: blue;
}
.gardengreen {
    color: green;
}
.p1 {
  text-align: left;
  font-size: 20px;
  margin-right: 40%;
  margin-top: 400px;
  letter-spacing: 0px;
}

.p2 {
  text-align: left;
  font-size: 20px;
  margin-left: 40%;
  margin-top: 300px;
  letter-spacing: 0px;
}

.home{
  text-align: center;
}
.garden {
    background-color: white;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.ruins:before {
    color:red;
    position: absolute;
    overflow: hidden;
    transition: 0.9s ease;
}


a.sandcolor:link,
a.sandcolor:visited {
  color: inherit; 
}
a.sandcolor:hover,
a.sandcolor:focus,
a.sandcolor:active {
  color: blue; 
  transform: scale(1.3);
  display: inline-block;
  transition: all 0.15s ease;
}

a.ruinscolor:link,
a.ruinscolor:visited {
  color: inherit;
}
a.ruinscolor:hover,
a.ruinscolor:focus,
a.ruinscolor:active {
  color: red; 
  transform: scale(1.3);
  display: inline-block;
  transition: all 0.15s ease;
}

a.gardencolor:link,
a.gardencolor:visited {
  color: inherit;
}
a.gardencolor:hover,
a.gardencolor:focus,
a.gardencolor:active {
  color: green;
  transform: scale(1.3);
  display: inline-block;
  transition: all 0.15s ease;
}

.changered,
.changered:link,
.changered:visited,
.changered:hover,
.changered:active {
  color: red;
}

.changeblue,
.changeblue:link,
.changeblue:visited,
.changeblue:hover,
.changeblue:active {
  color: blue;
}

.changegreen,
.changegreen:link,
.changegreen:visited,
.changegreen:hover,
.changegreen:active {
  color: green;
}



a:link, a:visited, a:hover, a:active {text-decoration: none;}
a:visited {color: transparent;}

