body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

p {
    font-size: 90px;
    letter-spacing: 50px;
    text-align: center;
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px;
    text-align: center;
}


.ruins { 
    background-color: red;
    color: azure;
    margin-left: 5%;
    margin-right: 5%;
}

.sand {
background-color: blue;
color: azure;
    margin-left: 5%;
    margin-right: 5%;

}

h1{
text-align: center;
background-color: azure;
padding: 5%;
color: black;
}

.p1 {
    text-align: left;
    font-size: 20px;
}

.p2 {
     text-align: left;
    font-size: 20px;
}
.garden {
    background-color: green;
    color: azure;
    margin-left: 5%;
    margin-right: 5%;
}

.ruins:before {
    color:red;
    position: absolute;
    overflow: hidden;
    transition: 0,9 ease;
}

.ruins:hover:before{
    width:100%;
}

p > .sandcolor {
    font-style:normal; 
}
p:hover >.sandcolor{
    color: blue;
}

p > .ruinscolor {
    font-style:normal; 
}
p:hover >.ruinscolor{
    color: red;
}
p > .gardencolor {
    font-style:normal; 
}
p:hover >.gardencolor{
    color: green;
}
a:link, a:visited, a:hover, a:active {text-decoration: none;}
a:visited {color: transparent;}
